
.experience-section {
    margin-bottom: 75px;
}

.line {
    color: white;
}

@keyframes moveLine {
    0% {
        left: 0;
        top: 0;
        color: blue;
    }
    33% {
        left: 33%;
        top: 100%;
        color: red;
    }
    67% {
        left: 67%;
        top: 0;
        color: purple;
    }
    100% {
        left: 100%;
        top: 100%;
        color: green;
    }
}



section {
    background-color: black;
    margin: 0;
}

.experience-div {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    margin: 75px 0px;
}

.skill-h3 {
    /*color: black;*/
    color: white;
    width: 25%;
    font-weight: 200;
    box-shadow: 1px 10px 10px blue;
    border-radius: 100%;
}

h3 {
    /*color: white;*/
    color: black;
    text-align: center;
}


.skill-pages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sign {
    margin: 0;
    color: white;
    text-decoration: none;
}

.sign:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sign:active {
    color: gray;
}

.skill-container {
    padding: 10px;
    border: 3px solid rgba(255, 255, 255, 1);
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    transition: all 1s ease-out;
}

.progression-div {
    height: 500px;
    background-size: cover;
}

.timeline-line {
    position: absolute;
    width: 90%;
    height: 1px;
    top: 50%;
    left: 5%;
    background-color: white;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*
.separator-line {
    position: absolute;
    top: 95%;
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    border-radius: 5px; 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); 
}
*/

.moving-line {
    width: 100px;
    height: 2px;
    /*background-color: white;*/
    position: relative;
    animation: moveLine 5s infinite linear;
    /*animation: 3s infinite alternate slidein;*/
    font-size: 50px;
}

.new-skill-pages {
    width: 90%;
    margin: 0;
    height: 90%;
    display: flex;
    flex-direction: row;
}

.new-skill-picture {
    width: 33%; 
    height: 100%;  
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new-skill-picture-displayed {
    width: 80%;
    height: 50%;
    background-image: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

.new-skill-skills {
    width: 67%;
    height: 100%;
}

.skill-grid {
    width: 100%;
    height: 90%;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;   
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.skill-pagination {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.skill-page {
    display: flex;
    height: fit-content;
    color: black;
    width: 10px;
    margin: 5px;
    border-radius: 2px;
}

.skill-page:hover {
    cursor: pointer;
    text-decoration: underline;
}

.skill-page p {
    margin: 0;
}

.skill-page p:hover {
    cursor: pointer;
}

/* Projects section below */

.projects-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: 20px 0;
}

.projects-div > h3 {
    color: white;
    font-weight: 200;
    box-shadow: 1px 10px 10px red;
    border-radius: 100%;
    width: 25%;
    margin-top: 0;
}

.projects-overview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-desc {
    width: 30%;
    color: gray;
}

.projects-desc > p {
    text-align: center;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.projects-container > p {
    color: white;
}

.projects-container > p:hover {
    cursor: pointer;
    text-decoration: underline;
    color: gray;
}

.projects {
    width: 90%;
    padding: 0% 5%;
    position: relative;
    height: 80vh;
    overflow: hidden;
}


@media(height <= 500px) {
    .projects-desc > p {
        font-size: small;
    }
}

@media(width <= 600px) {
    .new-skill-pages {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .new-skill-picture {
        width: 50%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .new-skill-picture-displayed {
        width: 80%;
        height: 90%;
    }

    .new-skill-skills {
        width: 100%;
        height: 70%;
    }

    .projects-desc {
        width: 50%;
    }    

}

@media(width <= 475px) {
    .skill-grid {
        column-gap: 20px;
        row-gap: 20px;   
    }

    .projects-div > h3 {
        font-size: small;
    }

    .projects-desc > p {
        font-size: x-small;
    }

    .skill-h3 {
        font-size: small;
    }

    .skill-page {
        font-size: small;
    }

    .new-skill-picture-displayed {
        width: 80%;
        height: 80%;
    }
}

@media(width <= 395px) {
    .skill-grid {  
        grid-template-columns: auto;
    }
}

@media(width <= 350px) {
    .projects-div > h3 {
        font-size: x-small;
    }    
}


/* PC below */

@media(width >= 450px) and (width < 625px) and (200px <= height < 300px) {
    .project-description > p {
        font-size: 7px;
    }

    .project-description > h3 {
        font-size: 8px;
    }

    .project-description > h4 {
        font-size: 8px;
    }
}


@media(width >= 450px) and (width < 625px) and (300px <= height < 400px) {
    .project-description > p {
        font-size: 7px;
    }

    .project-description > h3 {
        font-size: 8px;
    }

    .project-description > h4 {
        font-size: 8px;
    }
}

@media(width >= 450px) and (width < 625px) and (400px <= height < 500px) {
    .project-description > p {
        font-size: 7px;
    }

    .project-description > h3 {
        font-size: 8px;
    }

    .project-description > h4 {
        font-size: 8px;
    }
}

@media(width >= 450px) and (width < 625px) and (500px <= height < 625px) {
    .project-description > p {
        font-size: 11px;
    }

    .project-description > h3 {
        font-size: 12px;
    }

    .project-description > h4 {
        font-size: 12px;
    }
}

@media(width >= 450px) and (width < 625px) and (625px <= height < 800px) {
    .project-description > p {
        font-size: 10px;
    }

    .project-description > h3 {
        font-size: small;
    }

    .project-description > h4 {
        font-size: small;
    }
}

@media(width >= 450px) and (width < 625px) and (height >= 800px) {
    
}



/* mobile devices below */

@media(width >= 300px) and (width < 450px) {
    .projects-div > h3 {
        width: 50%;
        font-size: 18px;
    }
}

@media(width >= 300px) and (width < 450px) and (200px <= height < 300px) {
    .project-description > p {
        font-size: 6px;
    }

    .project-description > h3 {
        font-size: 7px;
    }

    .project-description > h4 {
        font-size: 7px;
    }
}

@media(width >= 300px) and (width < 450px) and (300px <= height < 400px) {
    .project-description > p {
        font-size: 7px;
    }

    .project-description > h3 {
        font-size: 8px;
    }

    .project-description > h4 {
        font-size: 8px;
    }
}

@media(width >= 300px) and (width < 450px) and (400px <= height < 500px) {
    .project-description > p {
        font-size: 8px;
    }

    .project-description > h3 {
        font-size: 9px;
    }

    .project-description > h4 {
        font-size: 9px;
    }

    .projects-desc {
        width: 60%;
    }
}

@media(width >= 300px) and (width < 450px) and (500px <= height < 625px) {
    .project-description > p {
        font-size: 9px;
    }

    .project-description > h3 {
        font-size: 10px;
    }

    .project-description > h4 {
        font-size: 10px;
    }

    .projects-desc {
        width: 60%;
    }
}

@media(width >= 300px) and (width < 450px) and (625px <= height < 800px) {
    .project-description > p {
        font-size: 10px;
    }

    .project-description > h3 {
        font-size: small;
    }

    .project-description > h4 {
        font-size: small;
    }

    .projects-desc {
        width: 70%;
    }
}

@media(width >= 300px) and (width < 450px) and (800px <= height < 1000px) {
    .project-description > p {
        font-size: 12px;
    }

    .project-description > h3 {
        font-size: small;
    }

    .project-description > h4 {
        font-size: small;
    }

    .projects-desc {
        width: 70%;
    }
}

@media(width >= 300px) and (width < 450px) and (1000px <= height < 1200px) {
    .project-description > p {
        font-size: 14px;
    }

    .project-description > h3 {
        font-size: medium;
    }

    .project-description > h4 {
        font-size: medium;
    }

    .projects-desc {
        width: 70%;
    }
}

@media(width >= 300px) and (width < 450px) and (height >= 1200px) {
    .project-description > p {
        font-size: 16px;
    }

    .project-description > h3 {
        font-size: medium;
    }

    .project-description > h4 {
        font-size: medium;
    }

    .projects-desc {
        width: 70%;
    }
}

@media(width >= 200px) and (width < 300px) {
    .projects-desc {
        width: 90%;
    }

    .projects-div > h3 {
        width: 70%;
        font-size: 20px;
    }
}

@media(height < 200px) {

    .experience-div {
        margin-bottom: -10px;
    }

}

@media(width >= 150px) and (width < 200px) {
    .projects-desc {
        width: 90%;
    }

    .projects-div > h3 {
        width: 90%;
        font-size: 15px;
    }

    .skill-h3 {
        width: 50%;
    }
}

@media(width < 150px) {
    .percentage-displayer {
        width: 90px;
        height: 15px;
        margin-left: 5px;
    }

    .skill-h3 {
        width: 70%;
    }
}

