.interests {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interests > p {
    height: 20%;
    margin: 0;
    font-size: 40px;
    text-align: center;
}

.roles-container {
    display: flex;
    height: 80%;
    width: 100%;
}

.pre-roles {
    height: 100%;
    width: 35%;
}

.roles {
    position: relative;
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.role {
    opacity: 1;
    height: 25%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    font-size: 40px;
}

.role.active.dev {
    color: blue;
    border-right: 1px solid blue;
    animation: role-typing 3.5s steps(30, end) infinite, blue-blinking .75s step-end infinite;
}

.role.active.res {
    color: red;
    border-right: 1px solid red;
    animation: role-typing 3.5s steps(30, end) infinite, red-blinking .75s step-end infinite;
}

.role.active.std {
    color: green;
    border-right: 1px solid green;
    animation: role-typing 3.5s steps(30, end) infinite, green-blinking .75s step-end infinite;
}

@keyframes role-typing {
    0% {
        width: 0;
    }
    10% {
        width: 0;
    }
    45% {
        width: 100%;
    }
    55% {
        width: 100%;
    }
    90% {
        width: 0;
    }
    100% {
        width: 0;
    }
}

@keyframes blue-blinking {
    0% {
        border-right-color: white;
    }
    50% {
        border-right-color: transparent;
    }
    100% {
        border-right-color: white;
    }
}


@keyframes blue-blinking {
    0% {
        border-right-color: blue;
    }
    50% {
        border-right-color: transparent;
    }
    100% {
        border-right-color: blue;
    }
}

@keyframes red-blinking {
    0% {
        border-right-color: red;
    }
    50% {
        border-right-color: transparent;
    }
    100% {
        border-right-color: red;
    }
}

@keyframes green-blinking {
    0% {
        border-right-color: green;
    }
    50% {
        border-right-color: transparent;
    }
    100% {
        border-right-color: green;
    }
}

@media(width <= 1000px) {
    .pre-roles {
        width: 25%;
    }
    .roles {
        width: 75%;
    }
    .role {
        height: 20%;
        max-width: 250px;
        font-size: 30px;
    }
}

@media(width <= 680px) {
    .interests > p {
        font-size: 30px;
    }
    .role {
        font-size: 22px;
    }
}

@media(width <= 600px) and (height <= 600px) {
    .interests > p {
        font-size: 25px;
    }
    .role {
        font-size: 18px;
        height: 30%;
    }
}

@media(width <= 600px) and (height > 600px) {
    .interests > p {
        font-size: 25px;
    }
    .pre-roles {
        width: 10%;
    }
    .roles {
        width: 90%;
    }
    .role {
        font-size: 20px;
        height: 25%;
    }
}

@media(width <= 460px) and (height <= 600px) {
    .roles {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .interests > p {
        font-size: 20px;
    }
    .role {
        font-size: 14px;
        height: 20%;
    }
    .pre-roles {
        width: 20%;
    }
    .roles {
        width: 80%;
    }
}

@media(width <= 460px) and (height > 600px) {
    .roles {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .interests > p {
        font-size: 20px;
    }
    .role {
        font-size: 17px;
        height: 20%;
    }
    .pre-roles {
        width: 10%;
    }
    .roles {
        width: 90%;
    }
}

@media(height <= 600px) and (width >= 750px) {
    .role {
        font-size: 30px;
    }
}

@media(660px < width < 1000px) and (height <= 500px) {
    .role {
        font-size: 30px;
        height: 30%;
    }
}

@media(height >= 1000px) and (width >= 800px) {
    .interests > p {
        font-size: 50px;
    }
    .roles {
        justify-content: flex-start;
    }
    .role {
        font-size: 35px;
    }
    .pre-roles {
        width: 10%;
    }
    .roles {
        width: 90%;
    }
}


@media(height >= 1000px) and (width >= 1000px) {
    .interests > p {
        font-size: 65px;
    }
    .role {
        font-size: 60px;
    }
}

@media(height >= 1000px) and (width >= 1080px) {
    .interests > p {
        font-size: 73px;
    }
    .pre-roles {
        width: 25%;
    }
    .roles {
        width: 75%;
    }
    .role {
        font-size: 70px;
    }
}


