.home-container {
    background-color: black;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
}

.Home {
    text-align: center;
}

.about-me {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about {
    width: 50%;
    height: 100%;
    color: white;
}

.summary {
    height: 40%;
}

.summary > p {
    color: gray;
    font-size: 15px;
    height: 45%;
    text-align: center;
}

.summary > h4 {
    height: 15%;
    margin: 0px;
    font-size: large;
    font-weight: 300;
    text-align: center;
}

.summary > div {
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.summary-block {
    border: 1px solid black;
    border-radius: 10px;
    width: 23%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: color 0.5s;
}

.summary-block:nth-of-type(1) {
    border-color: blue;
    color: gray;
    cursor: pointer;
}

.summary-block:nth-of-type(2) {
    border-color: red;
    color: gray;
    cursor: pointer;
}

.summary-block:nth-of-type(3) {
    border-color: green;
    color: gray;
    cursor: pointer;
}

.summary-block:nth-of-type(1):hover {
    border-color: blue;
    color: blue;
}

.summary-block:nth-of-type(2):hover {
    border-color: red;
    color: red;
}

.summary-block:nth-of-type(3):hover {
    border-color: green;
    color: green;
}

.summary-block > p {
    font-size: 20px;
}

.profile {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.picture {
    width: 50%;
    height: 100%;
    border-radius: 10%;
    background-image: url("../../assets/images/fahid_pic.png");
    background-size: cover;
    background-position: 50%;
}

@media(width <= 1150px) {
    .picture {
        width: 70%;
    }
}

@media(850px < width <= 975px) {
    .summary > p {
        font-size: 12px;
    }
}

@media(width <= 850px) {
    .summary > p {
        font-size: 12px;
    }
    .summary-block > p {
        font-size: 15px;
    }
    .picture {
        width: 80%;
    }
}

@media(width <= 680px) {
    .summary > h4 {
        font-size: small;
    }
    .picture {
        width: 90%;
    }
}

@media(width <= 600px) {
    .summary > p {
        font-size: 10px;
    }
    .summary-block > p {
        font-size: 12px;
    }
    .picture {
        width: 80%;
    }
}

@media(width <= 500px) {
    .summary > p {
        font-size: 8px;
    }
    .summary-block > p {
        font-size: 9px;
    }
    .picture {
        width: 80%;
    }
}

@media(width <= 400px) {
    .summary-block > p {
        font-size: 7px;
    }

    .summary > h4 {
        font-size: 10px;
    }
}

@media(width <= 400px) and (height >= 800px) {
    .summary-block {
        height: 40%;
    }
}

@media(height < 500px) {
    .interests {
        height: 40%;
    }
    .summary {
        height: 60%;
    }
    .summary-block {
        height: 60%;
    }
}

@media(height >= 500px) {
    .summary-block {
        height: 55%;
    }
}

@media(height >= 600px) {
    .summary-block {
        height: 60%;
    }
}

@media(height >= 750px) {
    .summary-block {
        height: 40%;
    }
}

@media(height >= 1000px) and (width >= 1000px) {
    .summary > p {
        font-size: 25px;
        height: 55%;
    }
}

@media(height >= 1000px) and (width >= 750px) {
    .summary > p {
        font-size: 20px;
        height: 55%;
    }
}

@media(height >= 750px) and (width >= 1000px) {
    .summary > p {
        font-size: 20px;
        height: 55%;
    }
}


@media(width <= 600px) and (height > 600px)  {
    .aboutMe-container-div > p {
        font-size: 10px;
    }
    .aboutMe-container-div {
        width: 60%;
    }
}
